<!-- Footer -->
<link rel="stylesheet" type="text/css" href="/stylesheets/theme.css">
<footer class=" footer page-footer font-small bg-light">
    

    <!-- Copyright -->
   
    <!-- Copyright -->
    <div class="footer fixed-bottom bg-cream">
        <!-- Copyright --><div class="card-footer text-center">SI PENDUDUK & UMKM 2022 </div>
    </div>

</footer>
<!-- Footer -->