<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tambah Data UMKM</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <!-- <link rel= "icon" href="/public/favicon.ico"> -->
  </head>
  <body>
    <!-- header start -->
    <%- include('header'); -%>
    <!-- header end   -->

    <div class="row g-0 mt-5" style="min-height: calc(100vh - 50px);">
      <!-- header start -->
      <%- include('sidebar'); -%>
      <!-- header end   -->

      <div class="col-md-10 p-5 pt-5">
        <h4>
          <i class="fa-solid fa-cart-shopping ms-2"></i>&nbsp&nbspTAMBAH DATA
          UMKM
        </h4>
        <hr />
        <script src="/javascripts/inputnum.js"></script>
        <form method="POST" action="/tambah_data/tambah-data-umkm" novalidate>
          <div class="card-body card shadow border-3 bg-gradient">
            <div class="card-header text-center">
              <h5><b>Biodata Usaha</b></h5>
            </div>

            <div class="col-md-6">
              <div class="form-label mb-3">
                <label>Nama Usaha</label>
                <input type="text" name="nama_usaha" class="form-control" />
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-label">
                <label>Alamat Tempat Usaha</label>
                <input type="text" name="alamat_tempat_usaha" class="form-control" />
              </div>
            </div>
          </div>

          <div class="card-body card shadow border-3 bg-gradient">
            <div class="card-header text-center">
              <h5><b>Biodata Pemilik Usaha</b></h5>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-label">
                  <label>Nama Kepala Keluarga</label>
                  <input type="text" name="nama_kk" class="form-control" />
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-label">
                  <label>Nama Pemilik Usaha</label>
                  <input type="text" name="nama_pemilik" class="form-control" />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-label">
                  <label>Umur</label>
                  <input type="text" name="umur" class="form-control" maxlength="2" onkeypress="return onlyNumberKey(event), isNumber(event)"/>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-label">
                  <label>Alamat Tempat Tinggal</label>
                  <input type="text" name="alamat_tempat_tinggal" class="form-control" />
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-label">
                    <label>Pilih Pendidikan Terakhir Pemilik Usaha</label>
                    <select class="form-control" name="pendidikan_pemilik">
                      <option>-</option>
                      <option value="Belum/Tidak Pernah Sekolah">Belum/Tidak Pernah Sekolah</option>
                      <option value="Belum/Tidak Tamat SD/SDLB/MI/Paket A">Belum/Tidak Tamat SD/SDLB/MI/Paket A</option>
                      <option value="SD/SDLB/MI/Paket A">SD/SDLB/MI/Paket A</option>
                      <option value="SMP/SMPLB/MTs/Paket B">SMP/SMPLB/MTs/Paket B</option>
                      <option value="SMA/SMLB/MA/SMK/MAK/paket C">SMA/SMLB/MA/SMK/MAK/paket C</option>
                      <option value="DI/DII/DII">DI/DII/DII</option>
                      <option value="DIV/S1">DIV/S1</option>
                      <option value="S2">S2</option>
                      <option value="S3">S3</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card-body card shadow border-3 bg-gradient">
            <div class="card-header text-center">
              <h5><b>Rincian Usaha</b></h5>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-label">
                  <label>Jenis Lokasi Tempat Usaha</label>
                  <select class="form-control" name="jenis_lokasi_usaha">
                    <option>-</option>
                    <option value="Tetap">Tetap</option>
                    <option value="Keliling">Keliling</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-label">
                  <label>Pilih Jenis Pengelolaan Usaha</label>
                  <select class="form-control" name="jenis_pengelolaan_usaha">
                    <option>-</option>
                    <option value="Perorangan">Perorangan</option>
                    <option value="Badan Usaha">Badan Usaha</option>
                  </select>
                </div>
              </div>
            </div>


            <div class="row">
              <div class="col-md-6">
                <div class="form-label">
                  <label>KBLI</label>
                  <select class="form-control" name="kbli">
                    <option>-</option>
                    <option value="Pertanian Tanaman, Peternakan, Perburuan dan Kegiatan YBDI"> 01-Pertanian Tanaman, Peternakan, Perburuan dan Kegiatan YBDI</option>
                    <option value="Pengelolaan Kehutanan dan Penebangan"> 02-Pengelolaan Kehutanan dan Penebangan</option>
                    <option value="Perikanan"> 03-Perikanan</option>
                    <option value="Pertambangan Batu Bara dan Lignit"> 05-Pertambangan Batu Bara dan Lignit</option>
                    <option value="Pertambangan Minyak Bumi dan Gas Alam dan Panas Bumi"> 06-Pertambangan Minyak Bumi dan Gas Alam dan Panas Bumi</option>
                    <option value="Pertambangan Bijih Logam"> 07-Pertambangan Bijih Logam</option>
                    <option value="Pertambangan dan Penggalian Lainnya"> 08-Pertambangan dan Penggalian Lainnya</option>
                    <option value="Aktivitas Jasa Penunjang Pertambangan"> 09-Aktivitas Jasa Penunjang Pertambangan</option>
                    <option value="Industri Makanan"> 10-Industri Makanan</option>
                    <option value="Industri Minuman"> 11-Industri Minuman</option>
                    <option value="Industri Pengolahan Tembakau"> 12-Industri Pengolahan Tembakau</option>
                    <option value="Industri Tekstil"> 13-Industri Tekstil</option>
                    <option value="Industri Pakaian Jadi"> 14-Industri Pakaian Jadi</option>
                    <option value="Industri Kulit, Barang dari Kulit dan Alas Kaki"> 15-Industri Kulit, Barang dari Kulit dan Alas Kaki</option>
                    <option value="Industri Kayu, Barang dari Kayu dan Gabus (Tidak Termasuk Furnitur) dan Barang Anyaman dari Bambu, Rotan dan Sejenisnya"> 16-Industri Kayu, Barang dari Kayu dan Gabus (Tidak Termasuk Furnitur) dan Barang Anyaman dari Bambu, Rotan dan Sejenisnya</option>
                    <option value="Industri Kertas dan Barang dari Kertas"> 17-Industri Kertas dan Barang dari Kertas</option>
                    <option value="Industri Pencetakan dan Reproduksi Media Rekaman"> 18-Industri Pencetakan dan Reproduksi Media Rekaman</option>
                    <option value="Industri Produk Dari Batu Bara dan Pengilangan Minyak Bumi"> 19-Industri Produk Dari Batu Bara dan Pengilangan Minyak Bumi</option>
                    <option value="Industri Bahan Kimia dan Barang dari Bahan Kimia"> 20-Industri Bahan Kimia dan Barang dari Bahan Kimia</option>
                    <option value="Industri Farmasi, Produk Obat Kimia dan Obat Tradisional"> 21-Industri Farmasi, Produk Obat Kimia dan Obat Tradisional</option>
                    <option value="Industri Karet, Barang dari Karet dan Plastik"> 22-Industri Karet, Barang dari Karet dan Plastik</option>
                    <option value="Industri Barang Galian Bukan Logam"> 23-Industri Barang Galian Bukan Logam</option>
                    <option value="Industri Logam Dasar"> 24-Industri Logam Dasar</option>
                    <option value="Industri Barang Logam, Bukan Mesin dan Peralatannya"> 25-Industri Barang Logam, Bukan Mesin dan Peralatannya</option>
                    <option value="Industri Komputer, Barang Elektronik dan Optik"> 26-Industri Komputer, Barang Elektronik dan Optik</option>
                    <option value="Industri Peralatan Listrik"> 27-Industri Peralatan Listrik</option>
                    <option value="Industri Mesin dan Perlengkapan ytdl"> 28-Industri Mesin dan Perlengkapan ytdl</option>
                    <option value="Industri Kendaraan Bermotor, Trailer dan Semi Trailer"> 29-Industri Kendaraan Bermotor, Trailer dan Semi Trailer</option>
                    <option value="Industri Alat Angkutan Lainnya"> 30-Industri Alat Angkutan Lainnya</option>
                    <option value="Industri Furnitur"> 31-Industri Furnitur</option>
                    <option value="Industri Pengolahan Lainnya"> 32-Industri Pengolahan Lainnya</option>
                    <option value="Reparasi dan Pemasangan Mesin dan Peralatan"> 33-Reparasi dan Pemasangan Mesin dan Peralatan</option>
                    <option value="Pengadaan Listrik, Gas, Uap/Air Panas dan Udara Dingin"> 35-Pengadaan Listrik, Gas, Uap/Air Panas dan Udara Dingin</option>
                    <option value="Treatment Air"> 36-Treatment Air</option>
                    <option value="Treatment Air Limbah"> 37-Treatment Air Limbah</option>
                    <option value="Pengumpulan, Treatment dan Pembuangan Limbah dan Sampah Serta Aktivitas Pemulihan Material"> 38-Pengumpulan, Treatment dan Pembuangan Limbah dan Sampah Serta Aktivitas Pemulihan Material</option>
                    <option value="Aktivitas Remediasi dan Pengelolaan Limbah dan Sampah Lainnya"> 39-Aktivitas Remediasi dan Pengelolaan Limbah dan Sampah Lainnya</option>
                    <option value="Konstruksi Gedung"> 41-Konstruksi Gedung</option>
                    <option value="Konstruksi Bangunan Sipil"> 42-Konstruksi Bangunan Sipil</option>
                    <option value="Konstruksi Khusus"> 43-Konstruksi Khusus</option>
                    <option value="Perdagangan, Reparasi dan Perawatan Mobil dan Sepeda Motor"> 45-Perdagangan, Reparasi dan Perawatan Mobil dan Sepeda Motor</option>
                    <option value="Perdagangan Besar, Bukan Mobil dan Sepeda Motor"> 46-Perdagangan Besar, Bukan Mobil dan Sepeda Motor</option>
                    <option value="Perdagangan Eceran, Bukan Mobil dan Motor"> 47-Perdagangan Eceran, Bukan Mobil dan Motor</option>
                    <option value="Angkutan Darat dan Angkutan Melalui Saluran Pipa"> 49-Angkutan Darat dan Angkutan Melalui Saluran Pipa</option>
                    <option value="Angkutan Perairan"> 50-Angkutan Perairan</option>
                    <option value="Angkutan Udara"> 51-Angkutan Udara</option>
                    <option value="Pergudangan dan Aktivitas Penunjang Angkutan"> 52-Pergudangan dan Aktivitas Penunjang Angkutan</option>
                    <option value="Aktivitas Pos dan Kurir"> 53-Aktivitas Pos dan Kurir</option>
                    <option value="Penyediaan Akomodasi"> 55-Penyediaan Akomodasi</option>
                    <option value="Penyediaan Makanan dan Minuman"> 56-Penyediaan Makanan dan Minuman</option>
                    <option value="Aktivitas Penerbitan"> 58-Aktivitas Penerbitan</option>
                    <option value="Aktivitas Produksi Gambar Bergerak, Video dan Program Televisi, Perekaman Suara dan Penerbitan Musik"> 59-Aktivitas Produksi Gambar Bergerak, Video dan Program Televisi, Perekaman Suara dan Penerbitan Musik</option>
                    <option value="Aktivitas Penyiaran dan Pemrograman"> 60-Aktivitas Penyiaran dan Pemrograman</option>
                    <option value="Telekomunikasi"> 61-Telekomunikasi</option>
                    <option value="Aktivitas Pemrograman, Konsultasi Komputer dan Kegiatan Ybdi"> 62-Aktivitas Pemrograman, Konsultasi Komputer dan Kegiatan Ybdi</option>
                    <option value="Aktivitas Jasa Informasi"> 63-Aktivitas Jasa Informasi</option>
                    <option value="Aktivitas Jasa Keuangan, Bukan Asuransi dan Dana Pensiun"> 64-Aktivitas Jasa Keuangan, Bukan Asuransi dan Dana Pensiun</option>
                    <option value="Asuransi, Penjaminan, Reasuransi dan Dana Pensiun, Bukan Jaminan Sosial Wajib"> 65-Asuransi, Penjaminan, Reasuransi dan Dana Pensiun, Bukan Jaminan Sosial Wajib</option>
                    <option value="Aktivitas Penunjang Jasa Keuangan, Asuransi, Penjaminan dan Dana Pensiun"> 66-Aktivitas Penunjang Jasa Keuangan, Asuransi, Penjaminan dan Dana Pensiun</option>
                    <option value="Real Estat"> 68-Real Estat</option>
                    <option value="Aktivitas Hukum dan Akuntansi"> 69-Aktivitas Hukum dan Akuntansi</option>
                    <option value="Aktivitas Kantor Pusat dan Konsultasi Manajemen"> 70-Aktivitas Kantor Pusat dan Konsultasi Manajemen</option>
                    <option value="Aktivitas Arsitektur dan Keinsinyuran; Analisis dan Uji Teknis"> 71-Aktivitas Arsitektur dan Keinsinyuran; Analisis dan Uji Teknis</option>
                    <option value="Penelitian dan Pengembangan Ilmu Pengetahuan"> 72-Penelitian dan Pengembangan Ilmu Pengetahuan</option>
                    <option value="Periklanan dan Penelitian Pasar"> 73-Periklanan dan Penelitian Pasar</option>
                    <option value="Aktivitas Profesional, Ilmiah dan Teknis Lainnya"> 74-Aktivitas Profesional, Ilmiah dan Teknis Lainnya</option>
                    <option value="Aktivitas Kesehatan Hewan"> 75-Aktivitas Kesehatan Hewan</option>
                    <option value="Aktivitas Penyewaan dan Sewa Guna Usaha Tanpa Hak Opsi"> 77-Aktivitas Penyewaan dan Sewa Guna Usaha Tanpa Hak Opsi</option>
                    <option value="Aktivitas Ketenagakerjaan"> 78-Aktivitas Ketenagakerjaan</option>
                    <option value="Aktivitas Agen Perjalanan, Penyelenggara Tur dan Jasa Reservasi Lainnya"> 79-Aktivitas Agen Perjalanan, Penyelenggara Tur dan Jasa Reservasi Lainnya</option>
                    <option value="Aktivitas Keamanan dan Penyelidikan"> 80-Aktivitas Keamanan dan Penyelidikan</option>
                    <option value="Aktivitas Penyedia Jasa untuk Gedung dan Pertamanan"> 81-Aktivitas Penyedia Jasa untuk Gedung dan Pertamanan</option>
                    <option value="Aktivitas Administrasi Kantor, Aktivitas Penunjang Kantor dan Aktivitas Penunjang Usaha Lainnya"> 82-Aktivitas Administrasi Kantor, Aktivitas Penunjang Kantor dan Aktivitas Penunjang Usaha Lainnya</option>
                    <option value="Administrasi Pemerintahan, Pertahanan dan Jaminan Sosial Wajib"> 84-Administrasi Pemerintahan, Pertahanan dan Jaminan Sosial Wajib</option>
                    <option value="Pendidikan"> 85-Pendidikan</option>
                    <option value="Aktivitas Kesehatan Manusia"> 86-Aktivitas Kesehatan Manusia</option>
                    <option value="Aktivitas Sosial di Dalam Panti"> 87-Aktivitas Sosial di Dalam Panti</option>
                    <option value="Aktivitas Sosial Tanpa Akomodasi"> 88-Aktivitas Sosial Tanpa Akomodasi</option>
                    <option value="Aktivitas Hiburan, Kesenian dan Kreativitas"> 90-Aktivitas Hiburan, Kesenian dan Kreativitas</option>
                    <option value="Perpustakaan, Arsip, Museum dan Kegiatan Kebudayaan Lainnya"> 91-Perpustakaan, Arsip, Museum dan Kegiatan Kebudayaan Lainnya</option>
                    <option value="Aktivitas Perjudian dan Pertaruhan"> 92-Aktivitas Perjudian dan Pertaruhan</option>
                    <option value="Aktivitas Olahraga dan Rekreasi Lainnya"> 93-Aktivitas Olahraga dan Rekreasi Lainnya</option>
                    <option value="Aktivitas Keanggotaan Organisasi"> 94-Aktivitas Keanggotaan Organisasi</option>
                    <option value="Reparasi Komputer dan Barang Keperluan Pribadi dan Perlengkapan Rumah Tangga"> 95-Reparasi Komputer dan Barang Keperluan Pribadi dan Perlengkapan Rumah Tangga</option>
                    <option value="Aktivitas Jasa Perorangan Lainnya"> 96-Aktivitas Jasa Perorangan Lainnya</option>
                    <option value="Aktivitas Rumah Tangga Sebagai Pemberi Kerja Dari Personil Domestik"> 97-Aktivitas Rumah Tangga Sebagai Pemberi Kerja Dari Personil Domestik</option>
                    <option value="Aktivitas Yang Menghasilkan Barang dan Jasa oleh Rumah Tangga Yang Digunakan untuk Memenuhi Kebutuhan Sendiri"> 98-Aktivitas Yang Menghasilkan Barang dan Jasa oleh Rumah Tangga Yang Digunakan untuk Memenuhi Kebutuhan Sendiri</option>
                    <option value="Aktivitas Badan Internasional dan Badan Ekstra Internasional Lainnya"> 99-Aktivitas Badan Internasional dan Badan Ekstra Internasional Lainnya</option>
    
                  </select>
                </div>
              </div>
            </div>


              <div class="col-md-6">
                <div class="form-label">
                  <label>Rincian Kegiatan Usaha</label>
                  <input type="text" name="rincian_kgiatan_usaha" class="form-control" />
                </div>
              </div>
           

            <div class="row">
              <div class="col-md-6">
                <div class="form-label">
                  <label>Omset Tahunan Usaha</label>
                  <select class="form-control" name="omset">
                    <option>-</option>
                    <option value="Omset <= Rp.300 Juta">Omset <= Rp.300 Juta</option>
                    <option value="Rp.300 Juta < Omset <= Rp.2,5 Milliar">Rp.300 Juta < Omset <= Rp.2,5 Milliar</option>
                    <option value="Rp.2,5 Milliar < Omset <= Rp.50 Milliar">Rp.2,5 Milliar < Omset <= Rp.50 Milliar</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-label">
                  <label>Kekayaan Bersih Usaha</label>
                  <select class="form-control" name="kekayaan_bersih_usaha">
                    <option>-</option>
                    <option value="KBU <= Rp.50 Juta">KBU <= Rp.50 Juta</option>
                    <option value="Rp.50 Juta < KBU <= Rp.500 Juta">Rp.50 Juta < KBU <= Rp.500 Juta</option>
                    <option value="Rp.500 Juta < KBU <= Rp.10 Milliar">Rp.500 Juta < KBU <= Rp.10 Milliar</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-label">
                  <label>Jumlah Tenaga Kerja</label>
                  <select class="form-control" name="jumlah_tenaga_kerja">
                    <option>-</option>
                    <option value="1-5 Tenaga Kerja">1-5 Tenaga Kerja</option>
                    <option value="6-19 Tenaga Kerja">6-19 Tenaga Kerja</option>
                    <option value="≥ 20 Tenaga Kerja">≥20 Tenaga Kerja</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-label">
                  <label>Sumber Modal Usaha</label>
                  <select class="form-control" name="modal_usaha">
                    <option>-</option>
                    <option value="Modal Sendiri">Modal Sendiri</option>
                    <option value="Bantuan Pemerintah">Bantuan Pemerintah</option>
                    <option value="Modal Sendiri & Bantuan Pemerintah">Modal Sendiri & Bantuan Pemerintah</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-label">
                  <label>Apakah Mendapat Pembinaan Usaha dari Pemerintah?</label>
                  <select class="form-control" name="bina_usaha">
                    <option>-</option>
                    <option value="Ya">Ya</option>
                    <option value="Tidak">Tidak</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <div class="mt-4">
            <button type="submit" class="btn btn-primary">SIMPAN</button>
            <a href=""><button type="reset" class="btn btn-danger">RESET</button></a>
            <a href="/data/data-umkm"><button type="button" class="btn btn-warning">KEMBALI</button></a>
          </div>
        </form>
      </div>
    </div>

    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Memastikan Data</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            Apakah anda sudah memastikan inputan data benar?
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Kembali
            </button>
            <button type="button" class="btn btn-primary">Simpan</button>
          </div>
        </div>
      </div>
    </div>

    <!-- footer start -->
    <%- include('footer'); -%>
    <!-- footer end   -->
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/js/all.min.js"
      integrity="sha512-8pHNiqTlsrRjVD4A/3va++W1sMbUHwWxxRPWNyVlql3T+Hgfd81Qc6FC5WMXDC+tSauxxzp1tgiAvSKFu1qIlA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>